#logo {
  width: 100%;
}

.jumbotron {
  /* background-color: #000000 !important; */
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-item a:hover {
  color: #f9f900 !important;
}

.navbar-brand {
  color: #f9f900 !important;
}

.card {
  margin-top: 20px;
}

.card-header, .card-body {
  text-align: center;
}

.card-body {
  padding: 10px 20px;
}

.card-header {
  background-color: #349bd6 !important;
  color: white;
}